/dts-v1/;
/plugin/;


/ {
    fragment@0 {
        target = <&i2c1>;
        __overlay__ {
            pa-temp-sensor_0@18 {
                compatible = "jedec,jc-42.4-temp";
                reg = <0x18>;
            };


            pca9534_0@20 {
                compatible = "nxp,pcal6408";
                reg = <0x20>;
                gpio-controller;
                #gpio-cells = <2>;
                interrupt-parent = <&gpio>;
                interrupts = <94 8>; /* IRQ_TYPE_LEVEL_LOW IRQ_TYPE_EDGE_FALLING */
                gpio-line-names = "C_RX_HPF_SEL3", "C_TX_PWR_LV_0", "C_TX_PWR_LV_1", "C_TX_FILT_SEL1", "C_TX_FILT_SEL2", "C_TX_FILT_SEL3", "C_TX_PA2_OVTMPn", "C_PA_ENAB";
            };
        };
    };

    
};
